// Base16 colour set: https://chriskempson.github.io/base16/
$base-00: #181818;
$base-01: #282828;
$base-02: #383838;
$base-03: #585858;
$base-04: #b8b8b8;
$base-05: #d8d8d8;
$base-06: #e8e8e8;
$base-07: #f8f8f8;
$base-08: #ab4642;
$base-09: #dc9656;
$base-0a: #f7ca88;
$base-0b: #a1b56c;
$base-0c: #86c1b9;
$base-0d: #7cafc2;
$base-0e: #ba8baf;
$base-0f: #a16946;

// Root font stack
$root-font-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$root-font-stack-serif: "Georgia", Times New Roman, serif;
$root-font-size: 16px;
$root-line-height: 1.5;

// Base colours
$body-color: $base-03;
$body-bg: #fff;
$link-color: $base-0d;
$border-color: $base-06;

// Grid breakpoints
$large-breakpoint: 38em;
$large-font-size: 18px;

// Code
$code-font-stack: Menlo, Monaco, "Consolas", "Courier New", monospace;
$code-font-color: $base-08;
